<!--UpGrad Intership Project-->
<!--Phone Directory Application-->
<!DOCTYPE html>
<html ng-app="addrBook">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Page title-->
    <title page-title></title>

    <!--Angular js main file-->
    <script src="angular.min.js"></script>
    <script src="angular.js"></script>

    <!-- Bootstrap -->
    <link href="bootstrap.min.css" rel="stylesheet" />

    <!-- Main CSS files -->
    <link href="mainCss.css" rel="stylesheet" />
  </head>
  <body ng-controller="myCtrl">
    <script src="mainJs.js"></script>
    <div class="container">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <h2 class="text-center">UpGrad Internship Project</h2>
            <h3 class="text-center">Phone Directory Application</h3>
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Contacts</th>
                  <th>Phone Number</th>
                  <th>Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in info | filter:test">
                  <td>
                    <span ng-hide="showMe($index)">{{ x.name }}</span
                    ><input
                      text="text"
                      class="form-control input-sm"
                      ng-model="x.name"
                      ng-show="showMe($index)"
                    />
                  </td>

                  <td>
                    <span ng-hide="showMe($index)">{{ x.tel }}</span
                    ><input
                      text="text"
                      class="form-control input-sm"
                      ng-model="x.tel"
                      ng-show="showMe($index)"
                    />
                  </td>

                  <td>
                    <a href="#" ng-click="removeItem()"
                      ><img src="icons8-delete-26.png"
                    /></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel-footer">
          <form class="form-inline">
            <div class="form-group">
              <span>Name：</span>
              <input type="text" class="form-control" ng-model="newName" />
            </div>
            <div class="form-group">
              <span>Tel：</span>
              <input type="text" class="form-control" ng-model="newTel" />
            </div>
            <input
              type="button"
              class="btn btn-primary btn-sm"
              value="Add"
              ng-click="addItem()"
            />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
